@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Playfair+Display&display=swap');
@import "tailwindcss";

@theme {
  --color-parchment: #f9f5ec;
  --color-charcoal: #2f2f2f;
  --color-sepia: #6b4f3b;
  --color-teal: #3f6963;
  --color-wood: #a89f91;
  --color-gold: #c6a664;
  --color-red: #944e4e;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: large;
    color: var(--color-charcoal);
  }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-size: xx-large;
    color: var(--color-sepia);
  }
@layer components {
  .btn {
    @apply text-2xl rounded-full bg-wood text-teal hover:bg-gold p-1 shadow-md;
  }
}
